#drum-machine {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  background-color: #525760;
  min-height: 50vh;
  max-height: 400px;
  min-width: 50vw;
  max-width: 600px;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
}

.drum-pad-grid {
  width: 50%;
  padding: 40px;
  background-color: #525760;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 8px;
  row-gap: 8px;
}

.drum-pad {
  border: 2px solid #282c34;
  font-size: calc(10px + 2vmin);
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.drum-pad:hover,
.drum-pad.pressed {
  background-color: #282c34;
  color: ghostwhite;
  border: 2px solid ghostwhite;
}

.drum-pad:active {
  background-color: #525760;
  border: 2px solid ghostwhite;
}

audio {
  max-width: 80px;
}

#control-panel {
  margin: 0 auto;
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-display {
  width: 100%;
  height: 20%;
  background-color: #282c34;
  border: 2px solid ghostwhite;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.drum-pad.pressed {
  animation: drum-pad-animation 0.2s linear;
}

@keyframes drum-pad-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
